AI-PoC-requirements-extraction.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: AI-PoC-requirements-extraction
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: bowenliang123/md_exporter:2.0.0@13e1aca1995328e41c080ff9f7f6d898df60ff74a3f4d98d6de4b18ab5b92c2e
    version: null
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/azure_openai:0.0.37@a035c99b7015994850402564ad9da3ac499b4c02f741f46b2f5db8b5763ab03c
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1768623011164-source-1768623101083-target
      selected: false
      source: '1768623011164'
      sourceHandle: source
      target: '1768623101083'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1768623101083-source-1768623138904-target
      selected: false
      source: '1768623101083'
      sourceHandle: source
      target: '1768623138904'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1768623138904-source-1768623436707-target
      selected: false
      source: '1768623138904'
      sourceHandle: source
      target: '1768623436707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-1768624015178-target
      selected: false
      source: '1768623436707'
      sourceHandle: source
      target: '1768624015178'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1768624015178--1768624053114-target
      selected: false
      source: '1768624015178'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-17686241096940-target
      selected: false
      source: '1768623436707'
      sourceHandle: source
      target: '17686241096940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 17686241096940-source-1768624053114-target
      selected: false
      source: '17686241096940'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-17686246407920-target
      selected: false
      source: '1768623436707'
      sourceHandle: source
      target: '17686246407920'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 17686246407920-source-1768624053114-target
      selected: false
      source: '17686246407920'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-17686248303420-target
      selected: false
      source: '1768623436707'
      sourceHandle: source
      target: '17686248303420'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 17686248303420-source-1768624053114-target
      selected: false
      source: '17686248303420'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-17686249004180-target
      selected: false
      source: '1768623436707'
      sourceHandle: source
      target: '17686249004180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 17686249004180-source-1768624053114-target
      source: '17686249004180'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-17686249915830-target
      source: '1768623436707'
      sourceHandle: source
      target: '17686249915830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 17686249915830-source-1768624053114-target
      source: '17686249915830'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1768623436707-source-17686250571880-target
      source: '1768623436707'
      sourceHandle: source
      target: '17686250571880'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 17686250571880-source-1768624053114-target
      source: '17686250571880'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1768623138904-source-1768625396519-target
      selected: false
      source: '1768623138904'
      sourceHandle: source
      target: '1768625396519'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1768625396519-source-1768624053114-target
      source: '1768625396519'
      sourceHandle: source
      target: '1768624053114'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          default: ''
          hint: ''
          label: pdf
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: file
          variable: pdf
        - default: ''
          hint: ''
          label: 案件管理番号
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: OrderId
      height: 114
      id: '1768623011164'
      position:
        x: 28.736748025004886
        y: 261.49469921000195
      positionAbsolute:
        x: 28.736748025004886
        y: 261.49469921000195
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_array_file: false
        selected: false
        title: テキスト抽出
        type: document-extractor
        variable_selector:
        - '1768623011164'
        - pdf
      height: 93
      id: '1768623101083'
      position:
        x: 377.05143271889034
        y: 261.49469921000195
      positionAbsolute:
        x: 377.05143271889034
        y: 261.49469921000195
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/azure_openai/azure_openai
        prompt_template:
        - id: fb69727a-2bc6-45ce-9901-113f95f26b50
          role: system
          text: "# 指示\nあなたは資料要約のエキスパートです。\n以下の# 各項目の定義に基づき、提供されたPDFの内容を構造化して抽出・要約してください。\n\
            # 要約ルールと# 出力形式を厳守して、マークダウン形式で出力を行って下さい。\n資料に記載のない内容は絶対に出力を行わず、ハルシネーション（事実に基づかない生成）には最新の注意を払ってください。\n\
            \n# 各項目の定義\n- 案件管理番号: 資料内に記載のある数字13桁の番号。\n- 案件概要: 案件名やプロジェクトの目的、何を実現するための施策かを記述。\n\
            - 背景: 施策が必要となった経緯、市場動向、社内状況などの「前提情報」。\n- 課題: 現状の問題点、不足している機能、解消すべきボトルネック。\n\
            - 仕組みの変化: システム間の連携、データの流れ、自動化される処理などの「技術的変更点」。\n- 運用・ルール: ユーザーの操作手順、適用される条件、事務規定、判定ロジックなどの「実務的ルール」。\n\
            - 期待効果: 収益改善（円）、工数削減（h）、UX向上、リスク回避、法令遵守などの「定量的・定性的メリット」。\n- チャネル（販路）:\
            \ 影響を受ける販路（オンラインショップ、店舗、公式アプリ、コールセンター等）。システム名ではないため注意。\n- ブランド: 施策対象となるブランド（SB、YM、LINEMO）。ソフトバンク・SoftBankは「SB」、ワイモバイル・Y!mobileは「YM」、LINEMOは「LINEMO」に書き換えること。システム名ではないため注意。\n\
            - 業務: 影響を受ける手続きの種類（新規・MNP(転入)・番号移行・契約変更・機種変更・情報変更・譲渡・承継等）。システム名ではないため注意。\n\
            - 対応システム・内容: 修正や開発が必要な全てのシステム名と、そこでの具体的な改修内容。\n　- 記述粒度: 「どの機能・画面に対し、どのような処理を追加/変更するか」を、30文字〜50文字程度で具体的に記述すること。対象ブランド名も確実なものは記載すること。\n\
            - その他情報: 上記に分類できないが、特筆すべき補足事項や注釈。\n- スケジュール: 決定している全てのイベント・マイルストーン（キックオフ、要件定義FIX、各工程、リリース日等）。\n\
            \n# 要約ルール\n1. システム名の正式名称変換: 資料内に類似の名称や略称がある場合、必ず以下の# システム正式名称辞書 に基づき、右側の正式名称に置換して出力してください。\n\
            2. 情報の有無: 資料に該当記載がない項目は、空白にせず「記載なし」と出力してください。\n3. 網羅性と個別行化: 1つのシステムで複数の改修がある場合、必ず**「システム正式名称：対応内容」のセットを1行として改修の数だけ行を分ける**こと。システム名の省略は禁止。\n\
            4. 粒度の統一（重要）:対応内容は「[対象の画面/機能/DB]において、[具体的な項目/ロジック]を[追加/変更/削除等の動作]する」という構成で、30文字〜50文字程度の具体性で記述してください。抽象的な表現（「〜の検討」「〜の対応」など）は避け、具体的な動作を記述してください。\n\
            5. 構造化の徹底:\n- 背景・課題: 「背景」と「課題」を分離。\n- 導入後イメージ: 「仕組みの変化」「運用・ルールの変更」「期待効果（定量・定性）」で整理。\n\
            - 対象範囲: 「チャネル」「ブランド」「業務」を個別に抽出。\n6. 項目形式の固定: 以下の項目は必ず「項目名：内容」の形式で記述してください。\n\
            - 対応システム・内容 ＝ 「システム名：対応内容」\n- スケジュール ＝ 「日付：イベント内容」\n7. 記述スタイル: 簡潔な「体言止め」とし、前置き・挨拶・推測・補足は一切禁止します。\n\
            \n# システム正式名称\n- Web情変 → Web情変_M00019\n- MGS → MGS_M00049\n- 販売管理システム →\
            \ 販売管理ｼｽﾃﾑ_M00050\n- CaMP → CaMP_M00053\n- MARS → MARS_M00306\n- Chronos\
            \ Billing / Chronos → Chronos Billing_M00312\n- CCOC → CCOC_M00321\n-\
            \ Cindy → Cindy_M00364\n- COP → COP_M00365\n- SCMOne → SCMOne_M00403\n\
            - Veritas → Veritas_M00413\n- KIIRO → KIIRO_M00487\n- CME_OLS / OLS　/\
            \ ORS → OLS_M00494\n- 審査PF → 審査PF_M00555\n- トークン → トークン_M00567\n- NFA\
            \ → NFA_M00632\n- CindyM → CindyM_M00648\n- NFA2.0 → NFA2.0_M00802\n-\
            \ Similis → Similis_M00817\n- Cafe → Cafe_M00875\n- CASIS → CASIS_M00125\n\
            - Lampas → Lampas_M00881\n- DWH → DWH_M00853\n- Kiwi → Kiwi_M00672\n-\
            \ CLS → CLS_M00676\n\n# 出力形式\n- 各項目の冒頭に必ず「案件管理番号」を記載してください。\n- 出力は必ず「```markdown」と「```」で囲んだコードブロック形式で行ってください。\n\
            \n## 案件概要\n- 案件管理番号：xxxxxxx\n- [内容]\n\n## 背景・課題\n- 案件管理番号：xxxxxxx\n- 背景：\n\
            \    - [内容]\n- 課題：\n- [内容]\n\n## 導入後イメージ\n- 案件管理番号：xxxxxxx\n- 仕組みの変化：[内容]\n\
            - 運用・ルール：[内容]\n- 期待効果：[内容（数値情報があれば必ず含める）]\n\n## 対象範囲（チャネル／サービス）\n- 案件管理番号：xxxxxxx\n\
            - チャネル（販路）：[内容]\n- ブランド：[内容]\n- 業務：[内容]\n\n## 対応システム・対応内容\n- 案件管理番号：xxxxxxx\n\
            - [システム正式名称A]：[対象1]の[項目1]を[動作1]\n- [システム正式名称A]：[対象2]の[項目2]を[動作2]\n- [システム正式名称B]：[対象1]の[項目1]を[動作1]\n\
            \n## その他情報（業務フロー等）\n- 案件管理番号：xxxxxxx\n- [内容]\n\n## スケジュール\n- 案件管理番号：xxxxxxx\n\
            - [YYYY年MM月DD日]：[イベント内容]\n- [YYYY年MM月DD日]：[イベント内容]\n"
        - id: d280b2f0-c9ce-4472-a760-1ca8dd0a63ad
          role: user
          text: '【案件資料】

            {{#1768623101083.text#}}


            案件資料を要約してください'
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1768623138904'
      position:
        x: 704.7322858363764
        y: 261.49469921000195
      positionAbsolute:
        x: 704.7322858363764
        y: 261.49469921000195
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ content }) {\n    const result = content.split(/\\\
          n\\n/)\n    return {\n        overview: result[0],\n        backgroundAndChallenges:\
          \ result[1],\n        postImplementation: result[2],\n        scope: result[3],\n\
          \        systemArchitecture: result[4],\n        businessProcess: result[5],\n\
          \        schedule: result[6]\n    }\n}\n"
        code_language: javascript
        outputs:
          backgroundAndChallenges:
            children: null
            type: string
          businessProcess:
            children: null
            type: string
          overview:
            children: null
            type: string
          postImplementation:
            children: null
            type: string
          schedule:
            children: null
            type: string
          scope:
            children: null
            type: string
          systemArchitecture:
            children: null
            type: string
        selected: false
        title: コード実行
        type: code
        variables:
        - value_selector:
          - '1768623138904'
          - text
          value_type: string
          variable: content
      height: 52
      id: '1768623436707'
      position:
        x: 1027.4251405360303
        y: 261.49469921000195
      positionAbsolute:
        x: 1027.4251405360303
        y: 261.49469921000195
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: 案件概要
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.overview#}}'
          output_filename:
            type: mixed
            value: 案件概要_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '1768624015178'
      position:
        x: 1334.45661104822
        y: 165.82334960470038
      positionAbsolute:
        x: 1334.45661104822
        y: 165.82334960470038
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1768624015178'
          - files
          value_type: array[file]
          variable: file1
        - value_selector:
          - '17686241096940'
          - files
          value_type: array[file]
          variable: file2
        - value_selector:
          - '17686246407920'
          - files
          value_type: array[file]
          variable: file3
        - value_selector:
          - '17686248303420'
          - files
          value_type: array[file]
          variable: file4
        - value_selector:
          - '17686249004180'
          - files
          value_type: array[file]
          variable: file5
        - value_selector:
          - '17686249915830'
          - files
          value_type: array[file]
          variable: file6
        - value_selector:
          - '17686250571880'
          - files
          value_type: array[file]
          variable: file7
        - value_selector:
          - '1768625396519'
          - files
          value_type: array[file]
          variable: overview
        selected: false
        title: 終了
        type: end
      height: 271
      id: '1768624053114'
      position:
        x: 2054.454861410834
        y: 605.2535514295569
      positionAbsolute:
        x: 2054.454861410834
        y: 605.2535514295569
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: 課題・背景
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.backgroundAndChallenges#}}'
          output_filename:
            type: mixed
            value: 課題・背景_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '17686241096940'
      position:
        x: 1334.45661104822
        y: 261.49469921000195
      positionAbsolute:
        x: 1334.45661104822
        y: 261.49469921000195
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: 導入後イメージ
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.postImplementation#}}'
          output_filename:
            type: mixed
            value: 導入後イメージ_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '17686246407920'
      position:
        x: 1334.45661104822
        y: 352.32020675768916
      positionAbsolute:
        x: 1334.45661104822
        y: 352.32020675768916
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: 対象範囲（チャネル／サービス）
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.scope#}}'
          output_filename:
            type: mixed
            value: 対象範囲（チャネル／サービス）_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '17686248303420'
      position:
        x: 1334.45661104822
        y: 433.613044475766
      positionAbsolute:
        x: 1334.45661104822
        y: 433.613044475766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: 対応システム・対応内容
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.systemArchitecture#}}'
          output_filename:
            type: mixed
            value: 対応システム・対応内容_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '17686249004180'
      position:
        x: 1334.45661104822
        y: 532.9830416604822
      positionAbsolute:
        x: 1334.45661104822
        y: 532.9830416604822
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: その他情報（業務フロー等）
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.businessProcess#}}'
          output_filename:
            type: mixed
            value: その他情報（業務フロー等）_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '17686249915830'
      position:
        x: 1334.45661104822
        y: 649.8073108852213
      positionAbsolute:
        x: 1334.45661104822
        y: 649.8073108852213
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: スケジュール
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623436707.schedule#}}'
          output_filename:
            type: mixed
            value: スケジュール_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '17686250571880'
      position:
        x: 1334.45661104822
        y: 769.6382175501997
      positionAbsolute:
        x: 1334.45661104822
        y: 769.6382175501997
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional custom output file name, and the filename suffix is not
              required.
            ja_JP: Optional custom output file name, and the filename suffix is not
              required.
            pt_BR: Optional custom output file name, and the filename suffix is not
              required.
            zh_Hans: 可选的自定义输出文件名，后缀名无需指定
          label:
            en_US: Output Filename
            ja_JP: Output Filename
            pt_BR: Output Filename
            zh_Hans: 输出文件名
          llm_description: ''
          max: null
          min: null
          name: output_filename
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          md_text: ''
          output_filename: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: オバービュー
        tool_configurations: {}
        tool_description: Generate .md file from Markdown text
        tool_label: Markdown to md file
        tool_name: md_to_md
        tool_node_version: '2'
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1768623138904.text#}}'
          output_filename:
            type: mixed
            value: オバービュー_{{#1768623011164.OrderId#}}.md
        type: tool
      height: 52
      id: '1768625396519'
      position:
        x: 995.8446911682247
        y: 1132.7692213942596
      positionAbsolute:
        x: 995.8446911682247
        y: 1132.7692213942596
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 271.5732279578974
      y: 111.4851497117312
      zoom: 0.6597539553864477
  rag_pipeline_variables: []
