工数按分ワークフロー   .yml
app:
  description: 'Task Time Allocation Workflow       '
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: '工数按分ワークフロー   '
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1772944978422-source-1772945004768-target
      source: '1772944978422'
      sourceHandle: source
      target: '1772945004768'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1772945004768-source-1772945022636-target
      source: '1772945004768'
      sourceHandle: source
      target: '1772945022636'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: input_table
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: input_table
      height: 109
      id: '1772944978422'
      position:
        x: 80
        y: 283
      positionAbsolute:
        x: 80
        y: 283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: b9181882-61b0-4b02-b48f-6244550912d7
          role: system
          text: "あなたはITシステム開発の工数見積もりの専門家です。                                      \
            \                                                                    \
            \                                      \n与えられたテーブルの合計工数（D列）を、各対応内容の複雑さ・規模・技術的難易度に応じて按分してください。\
            \                                                                    \
            \                       \n                                           \
            \                                                                    \
            \                                                                    \
            \                 \n ## ルール                                          \
            \                                                                    \
            \                                                                    \
            \       \n  - 全対応内容の工数合計 = D列の合計工数（必ず一致させること）                        \
            \                                                                    \
            \                                          \n  - 工数は0.001人月単位で算出     \
            \                                                                    \
            \                                                                    \
            \                          \n  - 端数は最後の行で調整し合計を一致させること               \
            \                                                                    \
            \                                                                   \n\
            \  - 出力はJSON配列のみ、説明文は不要                                              \
            \                                                                    \
            \                                              \n                    \
            \                                                                    \
            \                                                                    \
            \                                        \n  ## 実績データ（参考例）           \
            \                                                                    \
            \                                                                    \
            \                        \n  ### 例1: OLS_M00494 合計19.4人月 → 3行        \
            \                                                                    \
            \                                                                    \
            \            \n  [{\"対応内容\": \"スキップ制御を追加\", \"工数\": 0.755}, {\"対応内容\"\
            : \"判定ロジックを実装\", \"工数\": 4.995}, {\"対応内容\": \"個人ページにプロモエリアを配置\", \"工数\"\
            : 13.65}]                             \n                             \
            \                                                                    \
            \                                                                    \
            \                               \n  ### 例2: CCOC_M00321 合計5.21人月 → 2行\
            \                                                                    \
            \                                                                    \
            \                   \n  [{\"対応内容\": \"特属性を判定し担当部署へ振り分ける\", \"工数\": 0.372},\
            \ {\"対応内容\": \"OK/NG判定結果をOLSへ返却する\", \"工数\": 4.838}] "
        - id: ae90441f-ae92-477e-9ec3-bbd46583b242
          role: user
          text: "以下のテーブルを参考に、各対応内容別の工数（人月）を算出してください。\n\n\n{{{{#1772944978422.input_table#}}}}\n\
            \n\n以下のJSON形式のみで出力してください（説明文不要）：\n[\n  {\"対応内容\": \"...\", \"工数\": 0.000},\n\
            \  {\"対応内容\": \"...\", \"工数\": 0.000}\n]"
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772945004768'
      position:
        x: 471.95184714739105
        y: 304
      positionAbsolute:
        x: 471.95184714739105
        y: 304
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1772945004768'
          - text
          value_type: string
          variable: result
        selected: false
        title: Output
        type: end
      height: 88
      id: '1772945022636'
      position:
        x: 802
        y: 316
      positionAbsolute:
        x: 802
        y: 316
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -854.454086533922
      y: -131.0660575863618
      zoom: 1.6321279377398938
  rag_pipeline_variables: []
